* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

header{
    position:fixed;
    display: flex;
    z-index: 1000;
    width: 100%;
    background-color: #e47a1b;
    top: 0;
}
  
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
  
  
a:hover{
    opacity: 0.7;
}
  
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
  
a.logo{
    display: flex;
    margin-left: 30px;
}
  
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 8vh;
}
  
.nav-list{
    list-style: none;
    display: flex;
    margin-top: 30px;
    padding: 7px;
}
  
.nav-list li{
    letter-spacing: 3px;
    margin-left: 80px;
    padding-right: 100px;
}
  
.nav-list li:hover{
    opacity: 0.5;
    color: #e47a1b;
}

.carrinho img {
    margin-right: 5%;
    position: absolute;
}

.nav-list img {
    margin-top: -20px;
    right: 0;
}
  
.container {
    width: 80%;
    height: 75vh;
    display: flex;
    margin-top: 5%;
    border-radius: 10px;
    align-items: center;
    flex-direction: unset;
    display: block;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    padding: 1rem;
    
}

.form-image img {
    width: 31rem;
    border-radius: 7%;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    background-color: #e47a1b;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.login-button button:hover {
    background-color: #fafafa;
    border-color: #e47a1b;
    color: #e47a1b;
}

.login-button button {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #e47a1b;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #e47a1b;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    background-color: #e47a1b;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.continue-button button :hover {
    background-color: #fafafa;
    border-color: #e47a1b;
    color: #e47a1b;
}

.continue-button button :hover {
    background-color: #fafafa;
    border-color: #e47a1b;
    color: #e47a1b;
}

.continue-button button{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 50px;
    height: 3px;
    background: #fff;
    margin: 10px;
    transition: 0.3s;
}

.mesage{
    padding-bottom: 5%;
    padding-top: 5%;
}
  
@media (max-width: 1330px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
    position: absolute;
    top: 60%;
    right: 0;
    height: 50vh;
    background: #e47a1b;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    .nav-list li {
      opacity: 0;
    }
    .mobile-menu {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 25px;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 50px;
    height: 3px;
    background: #fff;
    margin: 10px;
    transition: 0.3s;
  }
  
  @media(max-width: 1000px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
    position: absolute;
    top: 60%;
    right: 0;
    height: 50vh;
    background: #e47a1b;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    .nav-list li {
      opacity: 0;
    }
    .mobile-menu {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 25px;
    }

    .carrinho img {
        position: absolute;
        margin-left: -30%;
        right: inherit;
  }
  
    
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @media (min-width: 940px) and (max-width: 1000px) {
  
    header{
        height: 135px;
    }
  
    a.logo img{
        margin-left: 50px;
        width: 100%;
        height: 130px;
    }
  
    .mobile-menu div {
        width: 100px;
        height: 5px;
        margin-top: 13%;
    }
  
    .nav-list{
        font-size: larger;
    }
  
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
      
    .mobile-menu.active .line2 {
        opacity: 0;
    }
      
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-15px, -15px);
    }
  
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-15px, -15px);
  }
  