body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 128);
  
}
.inputBox i{
position: relative;
right: -380px;
top: -32px;
    color: rgb(0, 0, 0); /* cor do ícone */
    font-size: 20px;
}

.inputBox input {
    padding-left: 20px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

#emailError, #passwordError {
    color: red;
    font-size: 12px;
    display: none;
    margin-top: 5px;
}
.inputBox ::placeholder {
color: rgba(0, 0, 0, 0.534);
font-size: 15px;
}
.checkbox-text {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.login-alt {
        margin-top: -60px;
}
.formulario {
  background: rgb(255, 255, 255);
  padding: 60px 40px 40px 40px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 400px;
  min-height: 420px;
  overflow: hidden;
}

.formulario h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px; /* cria espaço abaixo do título */
}

.checkbox-text {
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
} 
.checkbox-text a {
    padding-left: 110px;
    text-decoration: none;
    color: #FF8C00;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.checkbox-text-2 {
    margin-left: 10px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
} 
.checkbox-text-2 a {
    padding-left: 130px;
    text-decoration: none;
    color: #FF8C00;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.password {
    text-decoration: none;
}
.btn {
  background: #FF8C00; /* fundo semi-transparente */
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width: 410px;
    height: 40px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.social-media {
  margin: 1rem 0;
}
.link-social-media:not(:first-child){
  margin-left: 10px;
}
.link-social-media .item-social-media {
  transition: background-color .10s;
}
.link-social-media:hover .item-social-media{
  background-color: #ff40001a;
  color: #fff;
  border-color: #ff000015;
}

.social-media {
position: relative;
right: -300px;
top: -140px;
color: rgba(0, 0, 0, 0.825); /* cor do ícone */
font-size: 30px;
}
.social-media a {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin: 0 10px;
  transition: 0.3s;
  text-decoration: none; /* tira qualquer sublinhado */
  border: none;           /* tira borda branca */
  outline: none;          /* tira contorno de foco */
}

.social-media a:focus,
.social-media a:active {
  outline: none;
  border: none;
}

.social-media a:hover {
  color: #FF8C00;
  transform: scale(1.2);
}