.event-filtros::after {
    content: '';
    display: block;
    background-color: #e47a1b;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    width: 5rem;
    height: 0.3rem;
}

p.event-filtros {
    padding-left: 5%;
    position: relative;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    padding-top: 10%;
}

.h1{
    width: fit-content;
    text-align: justify;
    font-size: 25;
    font-family: 'Inter', sans-serif;
    padding-left: 10%;
    margin-top: 50px;
    padding-right: 10%;
    line-height: 45px;
}

h1.event-filtros {
    padding-left: 5%;
    padding-top: 5%;
}