<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/Felipe/app/public/css/categorias.css">
    </head>
    <title>Pagina Inicial</title>
    <body>
        <div class="toper">
        </div>
        
        
                <br><br><br><br><br><br><br>
        <div class="textt">Você ainda não pode acessar a sessão de categorias, estamos resolvendo isso.</div>
                    <div class="icones">
                        <ul><li>
        <a class="carrinho"><img src="file:///C:/Users/Cliente/Downloads/cart-outline.svg" width="25px" height="25px"></a>
        </li>
                            <li>
        <img src="file:///C:/Users/Cliente/Downloads/person-outline%20(1).svg" width="25px" height="25px">
        </li>
                            <li>
        <a class="lupa"><img src="file:///C:/Users/Cliente/Downloads/search-outline.svg" width="25px" height="25px"></a>
        
        <li>
        <a class="seta"><img src="file:///C:/Users/Cliente/Downloads/chevron-back-outline.svg" width="25px" height="25px"></a>
        
        </li>
                        </ul>
        </div> 
        <br><br><br><br><br>
      <nav class="navbar">
        <ul>
            <li>    <a>Vitrine</a></li>
        
        </ul>
                    </nav>
        
                    <div class="perfil">
                    <ul>
                        <li>    <a href="file:///C:/Felipe/app/public/views/pages/home.html">VOLTAR</a></li>
                    
                    </ul>
                </div>
                </div>
    
    </body>
    
    </html>
