<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/Felipe/app/public/css/home.css">
        <script async src="home.js"></script>
    </head>
    <title>Pagina Inicial</title>
    <body>


                   
        <div class="toper">
</div>


        <br><br><br><br><br><br><br>
            <div class="icones">
                <ul><li>
<a class="carrinho" href="#"><img src="file:///C:/Users/Cliente/Downloads/cart-outline.svg" width="25px" height="25px"></a>
</li>
                    <li>
<img src="file:///C:/Users/Cliente/Downloads/person-outline%20(1).svg" href="file:///C:/Felipe/app/public/views/pages/suas-vendas.html" width="25px" height="25px">
</li>
                    <li>
<a class="lupa"><img src="file:///C:/Users/Cliente/Downloads/search-outline.svg" width="25px" height="25px"></a>
</li>
                </ul>


            
            <nav class="navbar">
<ul>
    <li>    <a>Vitrine</a></li>

</ul>
            </nav>
            <div class="perfil">
            <ul>
                <li>    <a><img src="file:///C:/Users/Cliente/Downloads/call-outline.svg" width="20px">      11 94856-3974</a></li>
            
            </ul>
        </div>
        </div>


        <div class="banner-2">
        </div>
        <a class="decoration" href="file:///C:/Felipe/app/public/views/pages/suas-vendas.html"><div class="toper2"><br><br><div class="h3">Suas Vendas</div><br><div class="img1"><img src="file:///C:/Users/Cliente/Downloads/bar-chart-outline.svg" width="100px" height="100px"></a>
        </div>
        </div>
        <a class="decoration" href="file:///C:/Felipe/app/public/views/pages/mais-vendidos.html">><div class="toper3"><br><br><div class="h1">Mais Vendidos</div><br><div class="img2"><img src="file:///C:/Users/Cliente/Downloads/podium-outline.svg" width="100px" height="100px"></a>
        </div>
    </div>
        <a class="decoration" href="file:///C:/Felipe/app/public/views/pages/minhas-compras.html"><div class="toper4"><br><br><div class="h5">Produtos</div><br><div class="img3"><img src="file:///C:/Users/Cliente/Downloads/cart-outline.svg" width="100px" height="100px"></a>
        </div>
    </div>
       <a class="decoration" href="file:///C:/Felipe/app/public/views/pages/pagamentos.html"><div class="toper5"><br><br><div class="h6">Pagamentos</div><br><div class="img4"><img src="file:///C:/Users/Cliente/Downloads/wallet-outline.svg" width="100px" height="100px"></a>
        </div>
    </div>
       <a class="decoration" href="file:///C:/Felipe/app/public/views/pages/compra-segura.html"><div class="toper6"><br><br><div class="h1">Compra Segura</div><br><div class="img5"><img src="file:///C:/Users/Cliente/Downloads/shield-half-outline.svg" width="100px" height="100px"></a>
        </div>
    </div>
        <a class="decoration" href="file:///C:/Felipe/app/public/views/pages/nossas-ofertas.html"><div class="toper7"><br><br><div class="h1">Nossas Ofertas</div><br><div class="img6"><img src="file:///C:/Users/Cliente/Downloads/bag-handle-outline.svg" width="100px" height="100px"></a>  
        </div>
    </div>
       <a class="decoration" href="file:///C:/Felipe/app/public/views/pages/categorias.html"><div class="toper8"><br><br><div class="h4">Categorias</div><br><div class="img7"><img src="file:///C:/Users/Cliente/Downloads/grid-outline.svg" width="100px" height="100px"></a>  
        </div>
    </div>

</div>


<div class="grade">
<tr class="cart-product">
<td>
<div class="produtos2"><br><br><div class="h8">FC Bayern Munich Tracksuit</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8235_9cb54f92-c31a-477a-b803-a1ad0ea22588.jpg?v=1723218941&width=1080" alt="FC Bayern Munich Tracksuit" class="imagem2" width="250px" height="250px">
    <br><br>
    <div class="preco2">R$699,00</div><br>
</td>
</tr>
    <button class="btn">ADICIONAR AO CARRINHO</button>
    <br><br><br>
</div>



<div class="produtos3"><br><br><div class="h9">Ajax Amsterdam Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8181.jpg?v=1723218632&width=640" class="imagem3" width="250px" height="250px">
    <br><br>
    <div class="preco3">R$719,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos4"><br><br><div class="h10">Real Madrid Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8213_4d73f250-fde5-4d75-97c5-b4617d277d37.jpg?v=1723218859&width=1080" class="imagem4" width="250px" height="250px">
    <br><br>
    <div class="preco4">R$829,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos5"><br><br><div class="h11">PSG Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8068.jpg?v=1723217057&width=1080" class="imagem5" width="250px" height="250px">
    <br><br>
    <div class="preco5">R$679,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>


</div>
</div>
<div class="rodape"></div>  
    </body>
</html>