<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/Felipe/app/public/css/mais-vendidos.css">
    </head>
    <title>Pagina Inicial</title>
    <body>


                   
        <div class="toper">
</div>


        <br><br><br><br><br><br><br>

            <div class="icones">
                <ul><li>
<a class="carrinho"><img src="file:///C:/Users/Cliente/Downloads/cart-outline.svg" width="25px" height="25px"></a>
</li>
                    <li>
<img src="file:///C:/Users/Cliente/Downloads/person-outline%20(1).svg" width="25px" height="25px">
</li>
                    <li>
<a class="lupa"><img src="file:///C:/Users/Cliente/Downloads/search-outline.svg" width="25px" height="25px"></a>

<li>
<a class="seta"><img src="file:///C:/Users/Cliente/Downloads/chevron-back-outline.svg" width="25px" height="25px"></a>

</li>
                </ul>
</div>
<div class="banner-2"></div>        <div class="toper1">
</div>

<div class="grade">
    <tr class="cart-product">
    <td>
    <div class="produtos2"><br><br><div class="h8">FC Barcelona Tracksuit</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8204_a00be10c-ee6b-470a-9a41-3ad80a953633.jpg?v=1723218814&width=1080" alt="FC Bayern Munich Tracksuit" class="imagem2" width="250px" height="250px">
        <br><br>
        <div class="preco2">R$599,00</div><br>
    </td>
    </tr>
        <button class="btn">ADICIONAR AO CARRINHO</button>
        <br><br><br>
    </div>
    
    
    
    <div class="produtos3"><br><br><div class="h9">PSV Eindhoven Tracksuit</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8174_5f9bac0c-f8c5-4d47-8ba2-648fa03da251.jpg?v=1723218585&width=1080" class="imagem3" width="250px" height="250px">
        <br><br>
        <div class="preco3">R$489,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    <div class="produtos4"><br><br><div class="h10">Juventus Turin Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8126_9dfdac6d-3893-4c4a-b1f3-32a5685e0065.jpg?v=1723218036&width=1080" class="imagem4" width="250px" height="250px">
        <br><br>
        <div class="preco4">R$579,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    <div class="produtos5"><br><br><div class="h11">Germany Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8007_4fdb9021-ccc6-47b5-8cf2-c498a522beee.jpg?v=1723216179&width=1080" class="imagem5" width="250px" height="250px">
        <br><br>
        <div class="preco5">R$649,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    
    </div>
    </div>
    <div class="rodape"></div>  

            <nav class="navbar">
<ul>
    <li>    <a>Vitrine</a></li>

</ul>
            </nav>

            <div class="perfil">
            <ul>
                <li>    <a href="file:///C:/Felipe/app/public/views/pages/home.html">VOLTAR</a></li>
            
            </ul>
        </div>
        </div>
    </body>
    </html>

