<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/Felipe/app/public/css/minhas-compras.css">
    </head>
    <title>Pagina Inicial</title>
    <body>


                   
        <div class="toper">
</div>


        <br><br><br><br><br><br><br>

            <div class="icones">
                <ul><li>
<a class="carrinho"><img src="file:///C:/Users/Cliente/Downloads/cart-outline.svg" width="25px" height="25px"></a>
</li>
                    <li>
<img src="file:///C:/Users/Cliente/Downloads/person-outline%20(1).svg" width="25px" height="25px">
</li>
                    <li>
<a class="lupa"><img src="file:///C:/Users/Cliente/Downloads/search-outline.svg" width="25px" height="25px"></a>

<li>
<a class="seta"><img src="file:///C:/Users/Cliente/Downloads/chevron-back-outline.svg" width="25px" height="25px"></a>

</li>
                </ul>
</div>
<div class="banner-2"></div>        <div class="toper1">
</div>

<div class="grade">
    <tr class="cart-product">
    <td>
    <div class="produtos2"><br><br><div class="h8">FC Barcelona Tracksuit</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8204_a00be10c-ee6b-470a-9a41-3ad80a953633.jpg?v=1723218814&width=1080" alt="FC Bayern Munich Tracksuit" class="imagem2" width="250px" height="250px">
        <br><br>
        <div class="preco2">R$599,00</div><br>
    </td>
    </tr>
        <button class="btn">ADICIONAR AO CARRINHO</button>
        <br><br><br>
    </div>
    
    
    
    <div class="produtos3"><br><br><div class="h9">PSV Eindhoven Tracksuit</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8174_5f9bac0c-f8c5-4d47-8ba2-648fa03da251.jpg?v=1723218585&width=1080" class="imagem3" width="250px" height="250px">
        <br><br>
        <div class="preco3">R$489,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    <div class="produtos4"><br><br><div class="h10">Juventus Turin Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8126_9dfdac6d-3893-4c4a-b1f3-32a5685e0065.jpg?v=1723218036&width=1080" class="imagem4" width="250px" height="250px">
        <br><br>
        <div class="preco4">R$579,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    <div class="produtos5"><br><br><div class="h11">Germany Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8007_4fdb9021-ccc6-47b5-8cf2-c498a522beee.jpg?v=1723216179&width=1080" class="imagem5" width="250px" height="250px">
        <br><br>
        <div class="preco5">R$649,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    


<div class="produtos8"><br><br><div class="h11">AS Rom Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8085.jpg?v=1723217298&width=1080" class="imagem5" width="250px" height="250px">
    <br><br>
    <div class="preco8">R$459,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos9"><br><br><div class="h9">Juventus CL Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8110_2c915f74-7ff1-480a-b31c-f454bd2acd16.jpg?v=1723217918&width=1080" class="imagem3" width="250px" height="250px">
<br><br>
<div class="preco9">R$959,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos10"><br><br><div class="h10">Juventus Vintage Tracksuit</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8243.jpg?v=1723218988&width=1080" class="imagem4" width="250px" height="250px">
<br><br>
<div class="preco10">R$879,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos11"><br><br><div class="h11">AS Rom Vintage</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_8118_cc6adfe5-c333-4228-89cd-bf8897d64fd3.jpg?v=1723218000&width=1080" class="imagem5" width="250px" height="250px">
<br><br>
<div class="preco11">R$719,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>
<div class="produtos12"><br><br><div class="h11">Spanien Tracksuit</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_49322.jpg?v=1721654063&width=1080" class="imagem5" width="250px" height="250px">
<br><br>
<div class="preco12">R$989,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>
<div class="produtos6"><br><br><div class="h9">England Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_49623.jpg?v=1721654518&width=1080" class="imagem3" width="250px" height="250px">
<br><br>
<div class="preco6">R$749,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos7"><br><br><div class="h10">Spanien Vintage Tracksuit</div><br><img src="https://58-deal.de/cdn/shop/files/IMG_49423.jpg?v=1721654168&width=1080" class="imagem4" width="250px" height="250px">
<br><br>
<div class="preco7">R$659,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>
<div class="produtos0"><br><br><div class="h0">Italien Tracksuit </div><br><img src="https://58-deal.de/cdn/shop/files/IMG_49473.jpg?v=1721654373&width=1080" class="imagem4" width="250px" height="250px">
<br><br>
<div class="preco0">R$749,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>
    </div>
    </div>
    <div class="rodape"></div>  

            <nav class="navbar">
<ul>
    <li>    <a>Vitrine</a></li>

</ul>
            </nav>

            <div class="perfil">
            <ul>
                <li>    <a href="file:///C:/Felipe/app/public/views/pages/home.html">VOLTAR</a></li>
            
            </ul>
        </div>
        </div>
    </body>
    </html>

