<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Carrinho de Compras</title>
    <style>
        
        p {
            margin-top: 20%;
            text-align: center;
        }

    </style>
</head>
<body>
    <header class="header">
        <a class="logo" href="/" aria-label="Página inicial da Vitrine">
            <img src="imagens/logo(2).png" width="75" height="75" alt="Logo da Vitrine: Um desenho estilizado de um manequim.">
        </a>
          
        <div class="mobile-menu" aria-label="Menu de navegação mobile">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <nav>
            <ul class="nav-list">
                <li><a href="/">Início</a></li>
                <li><a href="/sobrenos">Sobre Nós</a></li>
                <li><a href="/login">Entrar</a></li>
                <li>
                    <a href="/carrinho-vazio" class="carrinho" aria-label="Ver seu carrinho de compras">
                        <img src="imagens/carrinho.png" width="75" height="50" alt="Ícone de um carrinho de compras vazio.">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="cart-status">
            <p>Nenhum produto adicionado ao carrinho.</p>
        </section>
    </main>

    <script src="js/navbar.js"></script>
</body>
</html>