<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/carrinho.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="/">
          <img src="imagens/logo(2).png" width="75px" height="75px" alt="Logo da Vitrine">
        </a>
          
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="/login">Entrar</a></li>
          <li><a href="/carrinho" class="carrinho"><img src="imagens/carrinho-de-compras.png" width="30px" height="30px"></a></li>
        </ul>
    </header>
    
    <main>
      <div class="event-filtros">Nenhum produto adicionado ao carrinho</div>
    </main>
    <script src="js/carrinho-vazio.js"></script>
</body>
</html>