<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/categorias.css">
    </head>
    <title>Pagina Inicial</title>
    <body>
        <div class="toper">
        </div>
        
        
                <br><br><br><br><br><br><br>

                <ul>
                    <li>    <a class="Vitrine"><img src="imagens/logo.png"></a></li>
                
                </ul>

        <div class="textt">Página em construção</div>
                    <div class="icones">
                        <ul><li>
        <a class="carrinho"><img src="imagens/cart-outline.svg" width="30px" height="30px"></a>
        </li>
                            <li>
        <a class="perfil" href="/suas-vendas"><img src="imagens/person-outline%20(1).svg" width="30px" height="30px"></a>
        </li>
                            <li>
        <a class="lupa"><img src="imagens/search-outline.svg" width="30px" height="30px"></a>
        
        <li>
        <a class="seta" href="/"><img src="imagens/chevron-back-outline.svg" width="30px" height="30px"></a>
        
        </li>
                        </ul>
        </div> 
        <br><br><br><br><br>
      <nav class="navbar">
                    </nav>
        
                    <div class="voltar">
                    <ul>
                        <li><a class="text2" href="/">VOLTAR</a></li>
                    
                    </ul>
                </div>
                </div>
    
    </body>
    
    </html>
