<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/compra-segura.css">
    </head>
    <title>Pagina Inicial</title>
    <body>


                   
        <div class="toper">
</div>


        <br><br><br><br><br><br><br>

        <ul>
            <li>    <a class="Vitrine"><img src="imagens/logo.png"></a></li>
        
        </ul>

            <div class="icones">
                <ul><li>
<a class="carrinho"><img src="imagens/cart-outline.svg" width="30px" height="30px"></a>
</li>
                    <li>
<a class="perfil" href="/suas-vendas"><img src="imagens/person-outline%20(1).svg" width="30px" height="30px"></a>
</li>
                    <li>
<a class="lupa"><img src="imagens/search-outline.svg" width="30px" height="30px"></a>

<li>
<a class="seta" href="/"><img src="imagens/chevron-back-outline.svg" width="30px" height="30px"></a>

</li>
                </ul>
</div>

                <div class="banner-2"></div>        <div class="toper1">
                </div>

                <div class="icones1">
                    <ul><li>

    <a class="dinheiro"><img src="imagens/cash-outline.svg" width="110px" height="110px"></a>

    </li>
    <br><br><br><br><br><br>

                        <li>
    <img src="imagens/hardware-chip-outline.svg" width="110px" height="110px">
    </li>

         </ul></div> 

         <div class="texto">

            <p1>Garantia de 30 dias após pagamento, <br>ou seu dinheiro de volta</p1>
         </div>   

         <div class="texto2">
            <p1>Proteção contra malware, <br>e seus dados protegidos</p1>
         </div> 



         <div class="icones2">
            <ul><li>

<img src="imagens/finger-print-outline.svg" width="110px" height="110px">

</li>
<br><br><br><br><br><br>

                <li>
<img src="imagens/ribbon-outline.svg" width="110px" height="110px">
</li>

 </ul></div> 

 <div class="texto3">

    <p1>Faça login de diversos dispositivos <br> sem preocupações</p1>
 </div>   

 <div class="texto4">
    <p1>Receba premiações por suas <br>vendas e comissões</p1>
 </div> 

            <nav class="navbar">
            </nav>

            
        </div>
    </body>
    </html>

