<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <script async src="home.js"></script>
    </head>
    <title>Pagina Inicial</title>
    <body>


                   
        <div class="toper">
</div>


        <br><br><br><br><br><br><br>
            <div class="icones">
                <ul><li>
<a class="carrinho" href="#"><img src="imagens/cart-outline.svg" width="25px" height="25px"></a>
</li>
                    <li>
<img src="imagens/person-outline (1).svg" href="suas-vendas.html" width="25px" height="25px">
</li>
                    <li>
<a class="lupa"><img src="imagens/search-outline.svg" width="25px" height="25px"></a>
</li>
                </ul>


            <nav class="navbar">
<ul>
    <li>    <a>Vitrine</a></li>

</ul>
            </nav>

            <div class="perfil">
            <ul>
                <li>    <a><img src="imagens/call-outline.svg" width="20px">      11 94856-3974</a></li>
            
            </ul>
        </div>
        </div>


        <div class="banner-2">
        </div>
        <a class="decoration" href="/suas-vendas"><div class="toper2"><br><br><div class="h3">Suas Vendas</div><br><div class="img1"><img src="imagens/bar-chart-outline.svg" width="100px" height="100px"></a>
        </div>
        </div>
        
    </div>
        <a class="decoration" href="/minhas-compras"><div class="toper4"><br><br><div class="h5">Produtos</div><br><div class="img3"><img src="imagens/cart-outline.svg" width="100px" height="100px"></a>
        </div>
    </div>
       <a class="decoration" href="/pagamentos"><div class="toper5"><br><br><div class="h6">Pagamentos</div><br><div class="img4"><img src="imagens/wallet-outline (1).svg" width="100px" height="100px"></a>
        </div>
    </div>
       <a class="decoration" href="/compra-segura"><div class="toper6"><br><br><div class="h1">Compra Segura</div><br><div class="img5"><img src="imagens/shield-half-outline.svg" width="100px" height="100px"></a>
        </div>
    </div>
        
    </div>
       <a class="decoration" href="/categorias"><div class="toper8"><br><br><div class="h4">Categorias</div><br><div class="img7"><img src="imagens/grid-outline.svg" width="100px" height="100px"></a>  
        </div>
    </div>

</div>


<div class="grade">
<tr class="cart-product">
<td>
<div class="produtos2"><br><br><div class="h8">Cesto organizador</div><br><img src="https://img.elo7.com.br/product/zoom/4A276D4/cesto-organizador-de-corda-nautica-30cmx28cm-cesto-para-brinquedos.jpg" alt="Cesto organizador" class="imagem2" width="250px" height="250px">
    <br><br>
    <div class="preco2">R$269,00</div><br>
</td>
</tr>
    <button class="btn">ADICIONAR AO CARRINHO</button>
    <br><br><br>
</div>



<div class="produtos3"><br><br><div class="h9">Banquinho de Crochê </div><br><img src="https://img.elo7.com.br/product/zoom/4C58308/banquinho-tiradentes-de-croche-algodao-e-juta-decor.jpg" class="imagem3" width="250px" height="250px">
    <br><br>
    <div class="preco3">R$315,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos4"><br><br><div class="h10"> </div><br><img src="" class="imagem4" width="250px" height="250px">
    <br><br>
    <div class="preco4">R$,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos5"><br><br><div class="h11"> </div><br><img src="" class="imagem5" width="250px" height="250px">
    <br><br>
    <div class="preco5">R$,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>


</div>
</div>
<div class="rodape"></div>  
    </body>
</html>
