<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <script async src="js/home.js"></script>
    </head>
    <title>Pagina Inicial</title>
    <body>                   
        <div class="toper">

        </div>


        <br><br><br><br><br><br><br>

        <ul>
            <li>    <a class="Vitrine"><img src="imagens/logo.png"></a></li>
        
        </ul>

            <div class="icones">
                <ul><li>
<a class="carrinho" href="#"><img src="imagens/cart-outline.svg" width="30px" height="30px"></a>
</li>
                    <li>
<a class="perfil" href="/suas-vendas"><img src="imagens/person-outline (1).svg" width="30px" height="30px"></a>
</li>
                    <li>
<a class="lupa"><img src="imagens/search-outline.svg" width="30px" height="30px"></a>
</li>
                </ul>

                

            <nav class="navbar">

            </nav>


            <div class="telefone">
            <ul>
                <li>    <a><img src="imagens/call-outline.svg" width="30px"></a></li>
            
            </ul>
        </div>
        </div>


        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <img src="imagens/banner-2.jpg" alt="Slide 2">
                </div>
                <div class="slide">
                    <img src="imagens/banner-3.jpg" alt="Slide 3">
                </div>
                
            </div>
        </div>
        
        </div>
        
    </div>
        <a class="decoration" href="/minhas-compras"><div class="toper4"><br><br><div class="h5">Produtos</div><br><div class="img3"><img src="imagens/cart-outline.svg" width="100px" height="100px"></a>
        </div>
    </div>
       <a class="decoration" href="/pagamentos"><div class="toper5"><br><br><div class="h6">Pagamentos</div><br><div class="img4"><img src="imagens/wallet-outline (1).svg" width="100px" height="100px"></a>
        </div>
    </div>
       <a class="decoration" href="/compra-segura"><div class="toper6"><br><br><div class="h1">Compra Segura</div><br><div class="img5"><img src="imagens/shield-half-outline.svg" width="100px" height="100px"></a>
        </div>
    </div>
        
    </div>
       <a class="decoration" href="/categorias"><div class="toper8"><br><br><div class="h4">Categorias</div><br><div class="img7"><img src="imagens/grid-outline.svg" width="100px" height="100px"></a>  
        </div>
    </div>

</div>


<div class="grade">
<tr class="cart-product">
<td>
<div class="produtos2"><br><br><div class="h8">Cesto organizador</div><br><img src="https://img.elo7.com.br/product/zoom/4A276D4/cesto-organizador-de-corda-nautica-30cmx28cm-cesto-para-brinquedos.jpg" alt="Cesto organizador" class="imagem2" width="250px" height="250px">
    <br><br>
    <div class="preco2">R$265,00</div><br>
</td>
</tr>
    <button class="btn">ADICIONAR AO CARRINHO</button>
    <br><br><br>
</div>



<div class="produtos3"><br><br><div class="h9">Banquinho de Crochê </div><br><img src="https://img.elo7.com.br/product/zoom/4C58308/banquinho-tiradentes-de-croche-algodao-e-juta-decor.jpg" class="imagem3" width="250px" height="250px">
    <br><br>
    <div class="preco3">R$315,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos4"><br><br><div class="h10">Bolsa de Fio Náutico</div><br><img src="imagens/bolsa.png" class="imagem4" width="250px" height="250px">
    <br><br>
    <div class="preco4">R$235,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos5"><br><br><div class="h11">Bolsa de Crochê</div><br><img src="imagens/bolsa2.png" class="imagem5" width="250px" height="250px">
    <br><br>
    <div class="preco5">R$145,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>


</div>
</div>
<div class="rodape"></div>  
    </body>
</html>
