<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/home.css">
    
        <title>Home</title>
    </head>
    <body>                   
        <header class="header">
            <a class="logo" href="/">
              <img src="imagens/logo(2).png" width="75px" height="75px" alt="Logo da Vitrine">
            </a>
              
            <div class="mobile-menu">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="/login">Entrar</a></li>
                <li><a href="/carrinho"><img src="imagens/carrinho1.png" width="30px" height="30px"></a></li>
              </ul>
        </header>

        </div>
        </div>


        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <img src="imagens/banner-2.jpg" alt="Slide1">
                </div>
                <div class="slide">
                    <img src="imagens/banner-3.jpg" alt="Slide 2">
                </div>
                <div class="slide">
                    <img src="imagens/banner.jpg" alt="Slide 3">
                </div>
                
            </div>
        </div>
        
        </div>
        
    </div>

</div>
<br><br>
<p class="event-filtros">Categorias</p><br><br>

    <!-- Carrosel -->
        <article class="carousel-container">
            <aside class="carousel">
                <aside class="carousel-item">
                    <a href="#">
                    <img src="imagens/artesanato.png" alt="Casa e Decoração" width="70px" height="70px">
                    <p>Casa e Decoração</p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/bolsa.png" alt="Moda" width="70px" height="70px">
                        <p>Moda</p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/moveis.png" alt="Moveis" width="70px" height="70px">
                        <p>Moveis</p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/croche.png" alt="Croche" width="70px" height="70px">
                        <p>Crochê</p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/casa (2).png" alt="Casa e Decoração" width="70px" height="70px">
                        <p></p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/casa (2).png" alt="Casa e Decoração" width="70px" height="70px">
                        <p></p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/casa (2).png" alt="Casa e Decoração" width="70px" height="70px">
                        <p></p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/casa (2).png" alt="Casa e Decoração" width="70px" height="70px">
                        <p></p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/casa (2).png" alt="Casa e Decoração" width="70px" height="70px">
                        <p></p>
                    </a>
                </aside>
                <aside class="carousel-item">
                    <a href="#">
                        <img src="imagens/casa (2).png" alt="Casa e Decoração" width="70px" height="70px">
                        <p></p>
                    </a>
                </aside>
            </aside>
            <aside class="left-arrow carousel-arrow">&lt;</aside>
            <aside class="right-arrow carousel-arrow">&gt;</aside>
        </article>
<br><br><br><br>
<p class="event-filtros">Mais Vendidos</p><br><br>
<div class="grade">
<tr class="cart-product">
<td>
<div class="produtos2"><br><br><div class="h8">Cesto organizador</div><br><img src="https://img.elo7.com.br/product/zoom/4A276D4/cesto-organizador-de-corda-nautica-30cmx28cm-cesto-para-brinquedos.jpg" alt="Cesto organizador" class="imagem2" width="250px" height="250px">
    <br><br>
    <div class="preco2">R$265,00</div><br>
</td>
</tr>
<a href="/home-carrinho"><button class="btn">ADICIONAR AO CARRINHO</button></a>
<br><br><br>
</div>
            
            
            
<div class="produtos3"><br><br><div class="h9">Banquinho de Crochê </div><br><img src="https://img.elo7.com.br/product/zoom/4C58308/banquinho-tiradentes-de-croche-algodao-e-juta-decor.jpg" class="imagem3" width="250px" height="250px">
    <br><br>
    <div class="preco3">R$315,00</div><br>
    <a href="/home-carrinho"><button class="btn">ADICIONAR AO CARRINHO</button></a>
</div>
            
<div class="produtos4"><br><br><div class="h10">Bolsa de Fio Náutico</div><br><img src="imagens/bolsa.png" class="imagem4" width="250px" height="250px">
    <br><br>
    <div class="preco4">R$235,00</div><br>
    <a href="/home-carrinho"><button class="btn">ADICIONAR AO CARRINHO</button></a>
</div>
            
<div class="produtos5"><br><br><div class="h11">Bolsa de Crochê</div><br><img src="imagens/bolsa2.png" class="imagem5" width="250px" height="250px">
    <br><br>
    <div class="preco5">R$145,00</div><br>
    <a href="/home-carrinho"><button class="btn">ADICIONAR AO CARRINHO</button></a>
</div>
            
</div>
</div><br><br><br><br>
<footer>
    <div id="footer_content">
        <div id="footer_contacts">

            <div id="footer_social_media">
                <a href="#" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="#" class="footer-link" id="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
        
        <ul class="footer-list">
            <li>
                <h3>Paginas</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Sobre Nós</a>
            </li>
            <li>
                <a href="#" class="footer-link">Produtos</a>
            </li>
            <li>
                <a href="/login" class="footer-link">Entrar</a>
            </li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Products</h3>
            </li>
            <li>
                <a href="#" class="footer-link">App</a>
            </li>
            <li>
                <a href="#" class="footer-link">Desktop</a>
            </li>
        </ul>

        <div id="footer_subscribe">
            <h3>Inscreva-se</h3>
            <p>Digite seu e-mail para receber notificações sobre novos produtos</p>
            <div id="input_group">
                <input class="email" type="email" id="email" placeholder="Digite seu e-mail">
                <button onclick="validateEmail()">
                    <i class="fa-regular fa-envelope"></i>
                </button>
            </div>
            <p id="message"></p>
        </div>
        </div>
    </div>
</footer>
<script src="js/home.js"></script>
</body>
</html>
