<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="css\login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
  .error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  </style>
</head>

<body>
  <header class="header">
    <a class="logo" href="/">
      <img src="imagens/logo.png" width="75px" height="75px" alt="Logo da Vitrine">
    </a>
    <ul class="nav-list">
      <li><a href="/">Inicio</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Produtos</a></li>
      <li><a href="/login">Entrar</a></li>
    </ul>
  </header>
  
  <div class="container">
    <div class="content first-content">
      <div class="first-column">
        <h2 class="title title-primary">Se cadastre na Vitrine!</h2>
        <p class="description description-primary">Pra quem está chegando agora</p>
        <p class="description description-primary"> e quer começar a comprar</p>
        <button name="cadastro" class="btn btn-primary" onclick="window.location.href='/cadastro';">Cadastro</button>
      </div>

      <div class="second-column">
        <h2 class="title title-second">Entrar</h2>
        <div class="social-media">
          <ul class="list-social-media">
            <a class="link-social-media" href="">
              <li class="item-social-media">
                <img src="imagens\pesquisa.png" alt="Google login" height="35" width="35">
              </li>
            </a>
            <a class="link-social-media" href="https://pt-br.facebook.com/">
              <li class="item-social-media">
                <img src="imagens\facebook (1).png" alt="Facebook login" height="35" width="35">
              </li>
            </a>
          </ul>
        </div>

        <p class="description description-second">ou use seus dados:</p>
        <form id="loginForm" class="loginForm">
          <label class="label-input">
            <i class="far fa-envelope icon-modify"></i>
            <input type="text" id="email" name="email" placeholder="Email">
            <span id="emailError" class="error"></span>
          </label>

          <label class="label-input">
            <i class="fas fa-lock icon-modify"></i>
            <input type="password" id="password" name="password" placeholder="Senha">
            <span id="passwordError" class="error"></span>
          </label>

          <a class="password" href="#">Esqueceu a senha?</a>
          <button class="btn btn-second">Sign in</button>

        </form>
      </div>
    </div>
  </div>
  
  <script src="js\login.js"></script>
</body>

</html>