<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <style>
            .error {
                color: red;
                font-size: 12px;
                display: block;
                margin-top: 5px;
            }
        </style>
    </head>

    <body>
        <header class="header">
            <a class="logo" href="/">
                <img src="imagens/logo(2).png" width="75px" height="75px" alt="Logo da Vitrine">
            </a>

            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a href="/">Início</a></li>
                    <li><a href="/sobrenos">Sobre</a></li>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/carrinho" class="carrinho"><img src="imagens/carrinho.png" width="75px" height="50px"></a></li>
                </ul>
            </nav>
        </header>

        <main class="container">
            <section class="content first-content">
                <section class="first-column">
                    <hgroup> <h2 class="title title-primary">Se cadastre na Vitrine!</h2>
                        <p class="description description-primary">Pra quem está chegando agora</p>
                        <p class="description description-primary"> e quer começar a comprar</p>
                    </hgroup>
                    <button name="cadastro" class="btn btn-primary" onclick="window.location.href='/cadcliente';">Cadastro</button>
                </section>

                <section class="second-column">
                    <h2 class="title title-second">Entrar</h2>

                    <p class="description description-second">ou use seus dados:</p>
                    <div id="message" class="message"></div>
                    <form id="loginForm" class="loginForm">
                        <label class="label-input">
                            <i class="far fa-envelope icon-modify"></i>
                            <input type="text" id="email" name="email_usuario" placeholder="Email" aria-label="Email">
                            <span id="emailError" class="error"></span>
                        </label>

                        <label class="label-input">
                            <i class="fas fa-lock icon-modify"></i>
                            <input type="password" id="password" name="senha_usuario" placeholder="Senha" aria-label="Senha">
                            <span id="passwordError" class="error"></span>
                        </label>

                        <a class="password" href="/rdsenha">Esqueceu a senha?</a>
                        <button class="btn btn-second">Continuar</button>

                    </form>
                </section>
            </section>
        </main>
        <script src="js/login.js"></script>
        <script src="js/navbar.js"></script>
    </body>
</html>