<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/mais-vendidos.css">
    </head>
    <title>Pagina Inicial</title>
    <body>


                   
        <div class="toper">
</div>


        <br><br><br><br><br><br><br>

            <div class="icones">
                <ul><li>
<a class="carrinho"><img src="imagens/cart-outline.svg" width="25px" height="25px"></a>
</li>
                    <li>
<img src="imagens/person-outline%20(1).svg" width="25px" height="25px">
</li>
                    <li>
<a class="lupa"><img src="imagens/search-outline.svg" width="25px" height="25px"></a>

<li>
<a class="seta"><img src="imagens/chevron-back-outline.svg" width="25px" height="25px"></a>

</li>
                </ul>
</div>
<div class="banner-2"></div>        <div class="toper1">
</div>

<div class="grade">
    <tr class="cart-product">
    <td>
    <div class="produtos2"><br><br><div class="h8"></div><br><img src="" alt="" class="imagem2" width="250px" height="250px">
        <br><br>
        <div class="preco2">R$,00</div><br>
    </td>
    </tr>
        <button class="btn">ADICIONAR AO CARRINHO</button>
        <br><br><br>
    </div>
    
    
    
    <div class="produtos3"><br><br><div class="h9"></div><br><img src="" class="imagem3" width="250px" height="250px">
        <br><br>
        <div class="preco3">R$,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    <div class="produtos4"><br><br><div class="h10"></div><br><img src="" class="imagem4" width="250px" height="250px">
        <br><br>
        <div class="preco4">R$,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    <div class="produtos5"><br><br><div class="h11"> </div><br><img src="" class="imagem5" width="250px" height="250px">
        <br><br>
        <div class="preco5">R$,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    
    </div>
    </div>
    <div class="rodape"></div>  

            <nav class="navbar">
<ul>
    <li>    <a>Vitrine</a></li>

</ul>
            </nav>

            <div class="perfil">
            <ul>
                <li>    <a href="/">VOLTAR</a></li>
            
            </ul>
        </div>
        </div>
    </body>
    </html>

