<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/minhas-compras.css">
    </head>
    <title>Pagina Inicial</title>
    <body>


                   
        <div class="toper">
</div>


        <br><br><br><br><br><br><br>

        

            <div class="icones">

                <ul>
                    <li>    <a class="Vitrine" href="/"><img src="imagens/logo.png"></a></li>
                
                </ul>
                <ul><li>
<a class="carrinho"><img src="imagens/cart-outline.svg" width="30px" height="30px"></a>
</li>
                    <li>
<a class="perfil" href="/suas-vendas"><img src="imagens/person-outline%20(1).svg" width="30px" height="30px"></a>
</li>
                    <li>
<a class="lupa" href="#"><img src="imagens/search-outline.svg" width="30px" height="30px"></a>

<li>
<a class="seta" href="/"><img src="imagens/chevron-back-outline.svg" width="30px" height="30px"></a>

</li>
                </ul>
</div>
<div class="banner-2"></div>        <div class="toper1">
</div>

<div class="grade">
    <tr class="cart-product">
    <td>
    <div class="produtos2"><br><br><div class="h8">Cesto organizador</div><br><img src="https://img.elo7.com.br/product/zoom/4A276D4/cesto-organizador-de-corda-nautica-30cmx28cm-cesto-para-brinquedos.jpg" alt="" class="imagem2" width="250px" height="250px">
        <br><br>
        <div class="preco2">        <div class="preco2">R$265,00</div><br>
    </div><br>
    </td>
    </tr>
        <button class="btn">ADICIONAR AO CARRINHO</button>
        <br><br><br>
    </div>
    
    
    
    <div class="produtos3"><br><br><div class="h9">Banquinho de Crochê</div><br><img src="https://img.elo7.com.br/product/zoom/4C58308/banquinho-tiradentes-de-croche-algodao-e-juta-decor.jpg" class="imagem3" width="250px" height="250px">
        <br><br>
        <div class="preco3">R$315,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    <div class="produtos4"><br><br><div class="h10">Bolsa de Fio Náutico</div><br><img src="imagens/bolsa.png" class="imagem4" width="250px" height="250px">
        <br><br>
        <div class="preco4">R$235,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    
    <div class="produtos5"><br><br><div class="h11">Bolsa de Crochê</div><br><img src="imagens/bolsa2.png" class="imagem5" width="250px" height="250px">
        <br><br>
        <div class="preco5">R$145,00</div><br>
        <button class="btn">ADICIONAR AO CARRINHO</button>
    </div>
    


<div class="produtos8"><br><br><div class="h11">Painel em Macramê</div><br><img src="https://img.elo7.com.br/product/zoom/481A562/painel-em-macrame-boho-style-com-penas-folhas-anni-80cm.jpg" class="imagem5" width="250px" height="250px">
    <br><br>
    <div class="preco8">R$300,00</div><br>
    <button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos9"><br><br><div class="h9">Tapete Passadeira Rústica Listrada</div><br><img src="https://img.elo7.com.br/product/zoom/50D14D2/tapete-passadeira-rustica-listrada.jpg" class="imagem3" width="250px" height="250px">
<br><br>
<div class="preco9">R$ 135,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos10"><br><br><div class="h10">Americano / Sousplat Crochê Tulipas</div><br><img src="https://img.elo7.com.br/product/zoom/4346363/sousplat-de-croche-suporte-pratos.jpg" class="imagem4" width="250px" height="250px">
<br><br>
<div class="preco10">R$ 120,00</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>

<div class="produtos11"><br><br><div class="h11">Suporte para Plantas em Macramê</div><br><img src="https://img.elo7.com.br/product/zoom/3C079B9/suporte-para-plantas-em-macrame-suporte-planta.jpg" class="imagem5" width="250px" height="250px">
<br><br>
<div class="preco11">R$ 62,90</div><br>
<button class="btn">ADICIONAR AO CARRINHO</button>
</div>
    </div>
    </div>
    <div class="rodape"></div>  

            <nav class="navbar">
            </nav>

            
        </div>
    </body>
    </html>

