<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/sobrenos.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Sobre Nós - Vitrine</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="/">
            <img src="imagens/logo(2).png" width="75px" height="75px" alt="Logo da Vitrine">
        </a>

        <nav>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Início</a></li>
                <li><a href="/sobrenos">Sobre</a></li>
                <li><a href="/login">Entrar</a></li>
                <li><a href="/carrinho" class="carrinho"><img src="imagens/carrinho.png" width="75" height="50" alt="Carrinho de compras"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="event-filtros">Sobre Nós</h1>

        <p class="h1">
            Lançado em 2023, o projeto Vitrine visa ser a principal plataforma online para artesanato sustentável. Conectamos artesãos criativos a consumidores conscientes, promovendo produtos únicos e feitos de forma ecologicamente responsável. Nosso objetivo é estimular o consumo consciente e valorizar a produção artesanal, incentivando práticas sustentáveis.        </p>
        <p class="h1">
            Preservamos técnicas tradicionais e apoiamos artesãos locais para manter sua cultura viva, inclusive através de workshops e eventos. Trabalhamos por um fornecimento transparente, garantindo que consumidores saibam a origem dos materiais e as condições de trabalho, promovendo ética e responsabilidade.
            Alinhados aos ODS 11 e 12 da ONU, a Vitrine aposta no artesanato sustentável para construir um mundo mais equilibrado e consciente.        </p>
    </main>

    <footer>
            <aside id="footer_content">
                <section id="footer_contacts"> <h3>Contatos</h3>
                    <div id="footer_social_media">
                        <a href="#" class="footer-link" id="instagram" aria-label="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#" class="footer-link" id="facebook" aria-label="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="footer-link" id="whatsapp" aria-label="WhatsApp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </section>

                <nav class="footer-list"> <h3>Paginas</h3>
                    <ul> 
                        <li><a href="/sobrenos" class="footer-link">Sobre Nós</a></li>
                        <li><a href="/prod" class="footer-link">Produtos</a></li>
                        <li><a href="/login" class="footer-link">Entrar</a></li>
                    </ul>
                </nav>

                <section id="footer_subscribe"> <h3>Inscreva-se</h3>
                    <p>Digite seu e-mail para receber notificações sobre novos produtos</p>
                    <div id="input_group">
                        <input class="email" type="email" id="email" placeholder="Digite seu e-mail">
                        <button onclick="validateEmail()" aria-label="Inscrever-se">
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </div>
                    <p id="message"></p>
                </section>
            </aside>
        </footer>
        
    <script src="js/home.js"></script>
    <script src="js/navbar.js"></script>
</body>
</html>