<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css\sobrenos.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="/">
          <img src="imagens/logo(2).png" width="75px" height="75px" alt="Logo da Vitrine">
        </a>
          
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Inicio</a></li>
          <li><a href="/sobrenos">Sobre</a></li>
          <li><a href="/login">Entrar</a></li>
          <li><a href="/carrinho-vazio" class="carrinho"><img src="imagens/carrinho.png" width="30px" height="30px"></a></li>
        </ul>
    </header>
    
    <p class="event-filtros">Sobre Nós</p>

    <p class="h1">
      O projeto Vitrine foi criado em 2023 com a missão de se tornar a principal plataforma online para artesanato sustentável, conectando artesãos criativos a consumidores conscientes. Focado em oferecer um ambiente digital acolhedor e eficiente, a Vitrine promove produtos artesanais únicos, feitos de maneira ecologicamente responsável. A plataforma busca estimular o consumo consciente e valorizar a produção artesanal, incentivando práticas sustentáveis.

Nosso objetivo é preservar as técnicas tradicionais, que são passadas entre gerações, e apoiar artesãos locais para que possam manter viva sua cultura. Através de workshops e eventos, promovemos a cultura artesanal local e permitimos que cidadãos e visitantes apreciem e aprendam sobre as tradições da região.

Além disso, a Vitrine trabalha para estabelecer um fornecimento transparente, onde consumidores têm acesso à origem dos materiais e às condições de trabalho dos artesãos, promovendo a ética e a responsabilidade na produção. Alinhados aos Objetivos de Desenvolvimento Sustentável da ONU, especialmente os ODS 11 (Cidades e comunidades sustentáveis) e 12 (Consumo e produção responsáveis), a Vitrine aposta no artesanato sustentável para construir um mundo mais consciente e equilibrado.
    </p><br><br><br><br><br><br>
    <footer>
      <div id="footer_content">
          <div id="footer_contacts">
  
              <div id="footer_social_media">
                  <a href="#" class="footer-link" id="instagram">
                      <i class="fa-brands fa-instagram"></i>
                  </a>
  
                  <a href="#" class="footer-link" id="facebook">
                      <i class="fa-brands fa-facebook-f"></i>
                  </a>
  
                  <a href="#" class="footer-link" id="whatsapp">
                      <i class="fa-brands fa-whatsapp"></i>
                  </a>
              </div>
          </div>
          
          <ul class="footer-list">
              <li>
                  <h3>Paginas</h3>
              </li>
              <li>
                  <a href="#" class="footer-link">Sobre Nós</a>
              </li>
              <li>
                  <a href="#" class="footer-link">Produtos</a>
              </li>
              <li>
                  <a href="#" class="footer-link">Cadastre-se</a>
              </li>
          </ul>
  
          <ul class="footer-list">
              <li>
                  <h3>Products</h3>
              </li>
              <li>
                  <a href="#" class="footer-link">App</a>
              </li>
              <li>
                  <a href="#" class="footer-link">Desktop</a>
              </li>
          </ul>
  
          <div id="footer_subscribe">
              <h3>Inscreva-se</h3>
              <p>Digite seu e-mail para receber notificações sobre novos produtos</p>
              <div id="input_group">
                  <input class="email" type="email" id="email" placeholder="Digite seu e-mail">
                  <button onclick="validateEmail()">
                      <i class="fa-regular fa-envelope"></i>
                  </button>
              </div>
              <p id="message"></p>
          </div>
      </div>
  </footer> 
  <script src="js\home.js"></script>
</body>
</html>