<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/suas-vendas.css">
    </head>
    <title>Pagina Inicial</title>
    <body>
        <div class="toper">
        </div>
        
        
                <br><br><br><br><br><br><br>
        <div class="textt">Faça seu cadastro</div>
                    <div class="icones">
                        <ul><li>
        <a class="carrinho"><img src="imagens/cart-outline.svg" width="30px" height="30px"></a>
        </li>
                            <li>
        <a class="perfil" href="/suas-vendas"><img src="imagens/person-outline%20(1).svg" width="30px" height="30px"></a>
        </li>
                            <li>
        <a class="lupa"><img src="imagens/search-outline.svg" width="30px" height="30px"></a>
        
        <li>
        <a class="seta" href="/"><img src="imagens/chevron-back-outline.svg" width="30px" height="30px"></a>
        
        </li>
                        </ul>
        </div> 
        <br><br><br><br><br>
      <main>
        <div class="container">
          <form action="" id="login-form">
            <label for="name" class="input-label">Nome completo</label>
            <input type="text" name="name" id="name" class="input-text">
            <label for="email" class="input-label">E-mail</label>
            <input type="email" name="email" id="email" class="input-text">
            <label for="cpf" class="input-label">CPF</label>
            <input type="text" name="cpf" id="cpf" class="input-text">
            <label for="phone" class="input-label">Telefone</label>
            <input type="tel" name="phone" id="phone" class="input-text">
            <button type="submit" class="button">Cadastrar</button>
          </form>
        </div>
      </main>
      <nav class="navbar">
        <ul>
            <li>    <a>Vitrine</a></li>
        
        </ul>
                    </nav>
        
                    <div class="voltar">
                    <ul>
                        <li>    <a href="/">VOLTAR</a></li>
                    
                    </ul>
                </div>
                </div>
    
    </body>
</html>
